
<div class="container-fluid">

  <div *ngFor="let auction of auctions">

    <!--TODO adapt fields after request is working-->

    <div class="card m-2" style="width: 18rem; display: inline-block;">
      <img src="https://picsum.photos/seed/picsum/200/300" class="card-img-top" style="max-height: 15rem;" alt="...">
      <div class="card-body">
        <h5 class="card-title">Auction: </h5>
        <p class="card-text">Some text</p>
        <a href="#" class="btn btn-primary">Go to details</a>
      </div>
    </div>

  </div>
</div>
