<div class="container-fluid">

  <!--TODO adapt fields -->
  <!--TODO add correct image -->
  <!--TODO add correct bid  -->
  <!--TODO add correct link to auction -->

  <div *ngFor="let auction of auctions" class="card m-2" style="width: 18rem; display: inline-block;">
    <img src="https://picsum.photos/seed/picsum/200/300" class="card-img-top" style="max-height: 15rem;" alt="...">
    <div class="card-body">
      <p class="card-text text-info">
        <span class="text-primary">TITLE PLACEHOLDER</span>
        <br>
        <span class="text-info">created by {{ auction.creator }}</span>
      </p>
      <p class="card-text text-info">
        <span class="text-primary">current bid</span>
        <br>
        <span class="text-info">€ 123 (placeholder)</span>
      </p>
      <a href="#" class="btn btn-primary">Go to details</a>
    </div>
  </div>

</div>
