<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <div class="container">
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
     </button>
     <form class="form-inline my-2 my-lg-0 order-lg-2">
        <a class="btn btn-outline-primary btn-book my-2 my-sm-0" >Book</a>
     </form>
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto order-lg-1">
           <li class="nav-item active">
              <a class="nav-link">Home
              <span class="sr-only">(current)</span>
              </a>
           </li>
           <li class="nav-item">
              <a class="nav-link">Vans</a>
           </li>
           <li class="nav-item">
              <a class="nav-link">Contract</a>
           </li>
           <li class="nav-item">
              <a class="nav-link">About</a>
           </li>
           <li class="nav-item">
              <a class="nav-link">App</a>
           </li>
        </ul>
     </div>
  </div>
</nav>