<nav
        class="navbar navbar-top navbar-expand navbar-dark"
        id="navbar-main"
        style="background-color: #5271ff;"
>
  <div class="container-fluid">
    <a style="height: 1rem;
      margin-bottom: 35px; margin-top: -15px;">
      <img
              src="assets/img/brand/catchabid-logo-blue.png"
              class="navbar-brand-img"
              alt="..."
              style="height: 3rem; margin-top: 10px;"

      />
    </a>
    <ul class="navbar-nav align-items-center ml-auto ml-md-0">
      <li class="nav-item dropdown" ngbDropdown placement="bottom-right">
        <a class="nav-link pr-0 dropdown-toggle" role="button" ngbDropdownToggle>
          Categories
        </a>
        <div
                class="dropdown-menu dropdown-menu-arrow dropdown-menu-right"
                ngbDropdownMenu
        >
          <div class=" dropdown-header noti-title">
            <h6 class="text-overflow m-0">Categories</h6>
          </div>
          <a
                  routerLinkActive="active"
                  class="dropdown-item"
          >
            <i class="ni ni-settings-gear-65"></i> <span>Category 1</span>
          </a>
          <a routerLinkActive="active"
             class="dropdown-item"
             style="color: black;">
            <i class="ni ni-user-run"></i>
            <span>Category 2</span>
          </a>
        </div>
      </li>
    </ul>
      <!-- Categories -->

      <form class="navbar-search navbar-search-dark">
        <div id="searchForm" class="form-group mb-0" [ngClass]="{ 'focused': focus === true }">
          <div class="input-group input-group-alternative">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-search"></i></span>
            </div>
            <input class="form-control" placeholder="Search" type="text" (focus)="focus = true"
            (blur)="focus = false">
          </div>
        </div>
      </form>
      <ul class="navbar-nav align-items-center ml-auto ml-md-0 text-right">
        <li class="nav-item dropdown mr-3 ml-5" placement="bottom-right">
          <a class="nav-link pr-0" role="button" (click)="createAuction()" >
            Sell
          </a>
        </li>

          <li *ngIf="!signedIn" class="nav-item dropdown" placement="bottom-right">
            <a class="nav-link" role="button" (click)="openRegisterModal()" mdbWavesEffect>
              Register
            </a>
          </li>
          <span *ngIf="!signedIn" class="btn-separator"></span>
          <li *ngIf="!signedIn" class="nav-item dropdown" placement="bottom-right">
            <a class="nav-link" role="button" (click)="openLoginModal()">
              Login
            </a>
          </li>
      </ul>
      <!-- User -->
      <ul *ngIf="signedIn" class="navbar-nav align-items-center ml-auto ml-md-0">
        <li class="nav-item dropdown" ngbDropdown placement="bottom-right">
          <a class="nav-link pr-0 dropdown-toggle" (click)="changeLogin()"
          role="button" ngbDropdownToggle>
            John Doe
          </a>
          <div
                  class="dropdown-menu dropdown-menu-arrow dropdown-menu-right"
                  ngbDropdownMenu
          >
            <div class=" dropdown-header noti-title">
              <h6 class="text-overflow m-0">Welcome!</h6>
            </div>
            <a
                    routerLinkActive="active"
                    class="dropdown-item"
            >
              <i class="ni ni-settings-gear-65"></i> <span>Settings</span>
            </a>

            <div class="dropdown-divider"></div>
            <a routerLinkActive="active"
               class="dropdown-item"
               style="color: black;">
              <i class="ni ni-user-run"></i>
              <span>Logout</span>
            </a>
          </div>
        </li>
      </ul>
  </div>

</nav>

<div class="header pb-8 pt-5 pt-md-8 d-flex align-items-center"

  style="min-height: 300px; max-height: 400px; background-size: cover; background-position: center top;">

</div>
