<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
  <div *ngFor="let auction of auctions" >
    <div class="col mb-4">
      <div class="card">
        <article class="col-item">
          <div class="container">
              <img src="data:image/jpeg;base64,{{auction.image}}" class="image" alt="Product Image">             
              <div class="overlay">
                <a href="#detail" *ngIf="auctionsGroup=='RECENT'" (click)="showAuctionDetails(auction)"> 
                  <div  class="text">SHOW DETAILS</div>
                </a>
                <a href="#" *ngIf="auctionsGroup=='UPCOMING'" (click)="subscribeToAuction()"> 
                  <div class="text">SUBSCRIBE</div>
                </a>
              </div>             
          </div>
        <div class="info">
          <p class="text-medium lh-100 font-weight-500 color-grey-subtext" style="margin: 0;">Created by {{auction.creatorName}} </p>
          <p class="text-lg lh-150 font-weight-500">{{auction.auctionName}}</p>
          <p class="text-medium lh-120 font-weight-500 color-grey-subtext" style="margin-bottom: 5px;">CURRENT BID</p>
          <p class="price-new text-medium lh-100 font-weight-500" *ngIf="auction.highestBid==undefined">{{auction.minPrice}}€</p>
          <p class="price-new text-lg lh-100 font-weight-500"
             *ngIf="auction.highestBid!=undefined">{{auction.highestBid}}€</p>
          <br>
          <div class="row">
              <div class="col-sm-6">
                  <app-auction-countdown class="text-medium-left font-weight-200 color-grey-subtext float-left" style="padding-top:5px;" *ngIf="auctionsGroup=='RECENT'"
                                 [countdownType]="'ending-countdown'"
                                 [endDate]="auction.endTime"></app-auction-countdown>
                  <app-auction-countdown class="text-lg-left font-weight-200 color-grey-subtext float-left" style="padding-top:5px;" *ngIf="auctionsGroup=='UPCOMING'"
                                 [countdownType]="'starting-countdown'"
                                 [endDate]="auction.startTime"></app-auction-countdown>
              </div>
              <div class="col-sm-6">
                  <a href="#" *ngIf="auctionsGroup=='RECENT'" class="btn btn-primary card-button">Bid</a>
              </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>