<div >
  <div *ngFor="let auction of auctions" style="display:inline-block;">
    <div class="card-auctions" style="width: 18rem; display: inline-block;">
      <img src="data:image/jpeg;base64,{{auction.image}}" class="card-img-top" style="max-height: 15rem;" alt="...">
      <div class="card-body">
        <p class="text-subsection-card">Created by {{auction.id}} </p>
        <p class="text-main-card">{{auction.auctionName}} {{auction.id}}</p>
        <p></p>
        <p class="text-subsection-card">CURRENT BID </p>
        <p class="text-main-card">{{auction.highestBid}}</p>
        <p>upcoming time {{auction.startTime}}</p>
        <a href="#" class="btn btn-primary">Go to details</a>
        <a href="#" class="btn btn-primary">Bid</a>
      </div>
    </div>
  </div>
  <p></p>
  <button (click)="loadMoreAuctions()" class="btn btn-primary">Load More</button>
</div>




