<ng-container *ngIf="!counterEnded; else counterEndedView">
  <span *ngIf="countdownType == 'ending-countdown'">ends in </span>
  <span *ngIf="countdownType == 'starting-countdown'">starts in </span>
  <countdown *ngIf="timeDiffInDays() < 1" [config]="countdownConfig()" (event)="counterFinishedCallback($event)"></countdown>
  <span *ngIf="timeDiffInDays() >= 1">{{ countdownInDaysString() }}</span>
</ng-container>
<ng-template #counterEndedView>
  <span *ngIf="countdownType == 'ending-countdown'">Auction ended</span>
  <span *ngIf="countdownType == 'starting-countdown'">Auction started</span>
</ng-template>
