<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="regular-user-tab" data-toggle="tab" href="#regularuser" role="tab" aria-controls="regularuser" aria-selected="true">User</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="auction-house-tab" data-toggle="tab" href="#auctionhouse" role="tab" aria-controls="profile" aria-selected="false">Auction House</a>
    </li>
 </ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="regularuser" role="tabpanel" aria-labelledby="regular-user-tab">
        <article class="card-body" style="height: 85vh;">
            <h3 class="card-title text-center mb-4 mt-1">Register</h3>
            <hr>
            <form class="form-horizontal" method="post" action="#">              
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                        </div>
                        <input name="" class="form-control" style="padding-left: 5px;" placeholder="First Name" type="name">
                    </div>
                </div> 
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-envelope fa"></i> </span>
                        </div>
                        <input name="" class="form-control" style="padding-left: 5px;" placeholder="Email Address" type="email">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-users fa"></i> </span>
                        </div>
                        <input name="" class="form-control" style="padding-left: 5px;" placeholder="Username" type="username">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                </div>
                                <input class="form-control" style="padding-left: 5px;" placeholder="Password" type="password">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                </div>
                                <input class="form-control" style="padding-left: 5px;" placeholder="Confirm Password" type="password">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-flag"></i> </span>
                                </div>
                                <input class="form-control" style="padding-left: 5px;" placeholder="Country" type="country">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-map-marker"></i> </span>
                                </div>
                                <input class="form-control" style="padding-left: 5px;" placeholder="City" type="city">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-map-pin"></i> </span>
                                </div>
                                <input class="form-control" style="padding-left: 5px;" placeholder="Address" type="address">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-home"></i> </span>
                                </div>
                                <input class="form-control" style="padding-left: 5px;" placeholder="House no." type="housenumber">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                        </div>
                        <input class="form-control" style="padding-left: 5px;" placeholder="Phone Number" type="tel">
                    </div>
                </div>
                <div class="form-group ">
                    <button type="button" class="btn btn-primary btn-lg btn-block login-button">Register</button>
                </div>
                <div class="small text-center">
                    <a href="#">Login</a>
                </div>
            </form>
        </article>
    </div>
    <div class="tab-pane fade" id="auctionhouse" role="tabpanel" aria-labelledby="auction-house-tab">
        <article class="card-body" style="height: 85vh;">
            <h3 class="card-title text-center mb-4 mt-1">Register</h3>
            <hr>
            
        </article>
    </div>
</div>