.chartTitle{
  position: absolute;
  left: 1em;
  right: 0;
  bottom: 42%;
  text-align: center;
  font-size: 0.8em;
}
.statistic-card{
  margin-left: -14%;
  margin-right: 15px;
  margin-bottom: 15px;
  height: 200px;
  width: 94%;
  display: block;
}
